RewriteEngine On
RewriteBase /

#force non-www version
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
#hooks
RewriteRule ^calendar/past/?$ index.php?page=calendar&past=1
RewriteRule ^admin/?$ admin/index.php
RewriteRule ^/?$ index.php?page=front
RewriteRule ^([\w\d_\-]+)/?$ index.php?page=$1