html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: black;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: 'chaparral';
    src: url('../font/chaparral.eot');
    src: url('../font/chaparral.eot?#iefix') format('embedded-opentype'),
    url('../font/chaparral.woff') format('woff'),
    url('../font/chaparral.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* HEADER */

.header a {
    text-decoration: none;
}

.header-splash {
    background: black url("../images/polk.jpg") no-repeat;
    background-size: contain;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.header-title {
    color: white;
    margin: 0;
    padding: 30px;
    font-size: 5em;
    font-family: "chaparral", serif;
}

/* NAVIGATION */

.nav-menu-wrapper {
    background-color: #ba0001;
    text-align: center;
    padding: 13px;
    z-index: 100;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: inline;
}

.nav-menu-item {
    border-right: solid 2px white;
    display: table-cell;
    padding: 0 10px;
}
.nav-menu-item:last-child {
    border-right: none;
}

.nav-menu-link {
    font-family: "chaparral", serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
.nav-menu-link:hover {
    text-decoration: underline;
}

.nav-menu-toggle {
    display: none;
}

/* CONTENT */

.content-wrapper {
    background-color: #e5d9cd;
}

.content {
    background-color: white;
    max-width: 900px;
    min-height: 400px;
    margin: auto;
    padding: 15px;
    border-left: solid 6px #ba0001;
    border-right: solid 6px #ba0001;
}

.page-title {
    margin-left: 20px;
    font-size: 3em;
    font-family: "chaparral", serif;
}

.page-content {
    line-height: 1.5;
}

.photo-thumb-wrapper {
    display: inline-block;
}
.photo-thumb-wrapper img {
    margin: 5px;
}

.photo-gallery {
    background-color: #2a2a2a;
    padding: 5px;
    text-align: center;
}

/* CALENDAR */

.date-heading {
    font-family: "chaparral", serif;
    font-size: 1.5em;
}

.event-title {
    font-family: "chaparral", serif;
    font-size: 2em;
    margin: 10px;
}

.calendar-events ul {
    list-style-type: none;
}
.calendar-events > ul {
    padding-left: 5px;
}

.event-date {
    font-weight: bold;
    font-family: "chaparral", serif;
    font-size: 1.2em;
}

.event-content-wrapper {
    position: relative;
}

.content-hider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 50%,rgba(255,255,255,1) 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 50%,rgba(255,255,255,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* ADMIN AREA */

.admin-body {
    background-color: #cfe0e6;
    height: 100vh;
}

.admin-content {
    background-color: white;
    padding: 20px;
}

.admin-section {
    display: inline-block;
    margin: 5px;
    border: solid 2px black;
    padding: 10px;
    border-radius: 2%;
}

.admin-form-wrapper input[type="submit"] {
    margin: 10px;
}

.login-form-wrapper {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 310px;
    height: 130px;
    background: white;
    padding: 9px;
    line-height: 1.6;
    border: solid 1px;
}

.form-input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #f1f8ff;
    margin-top: 2px;
}
.form-input:nth-of-type(even) {
    background-color: #e0f3ff;
}
.form-input label, input, select {
    margin-right: 10px;
}

.login-form-wrapper input {
    display: block;
    margin-left: 20px;
}
.login-form-wrapper input[type=submit] {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.error {
    color: red;
}

.form-error {
    border: solid 1px red;
}

.message-error, .message-success {
    text-align: center;
    margin: 5px;
}
.message-success > span {
    color: green;
    background-color: #ace6ac;
    border: solid 1px green;
    padding: 5px;
}
.message-error > span {
    color: red;
    background-color: #ffbfbf;
    border: solid 1px red;
    padding: 5px;
}

.entity-table {
    border-collapse: collapse;
    margin-top: 10px;
}
.entity-table td {
    padding: 5px;
}
.entity-table tr {
    background-color: #f1f8ff;
}
.entity-table tr:nth-child(even) {
    background-color: #e0f3ff;
}
.entity-table form {
    display: inline;
}
/* FOOTER */

.footer {
    color: white;
    background: black;
    border-top: solid 10px #ba0001;
    text-align: center;
    padding: 10px;
    min-height: 50px;
}

.footer-copyright {
    font-size: small;
}

/* BREAK POINTS */

@media all and (max-width: 750px) {

    html {
        padding-top: 44px;
    }

    .header {
        border-bottom: solid 8px #ba0001;
    }
    .header-title {
        font-size: 3.5em;
        padding-right: 0;
        padding-top: 5px;
        padding-bottom: 40px;
        text-align: left;
        position: relative;
        width: 180px;
        margin-left: 35%;
    }

    .nav-menu {
        display: none;
        background-color: #2d2d33;
        position: absolute;
        top: 100%;
        width: 100%;
    }
    .nav-menu-item {
        display: block;
        border-top: solid 2px black;
        border-right: none;
        padding: 14px;
        background: rgb(81,81,81); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(81,81,81,1) 0%, rgba(63,63,63,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(81,81,81,1) 0%,rgba(63,63,63,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(81,81,81,1) 0%,rgba(63,63,63,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .nav-menu-item a {
        width: 100%;
        display: block;
    }
    .nav-menu-toggle {
        display: block;
        margin: 0;
        padding-top: 5px;
        color: white;
        font-family: "chaparral", serif;
        font-size: 1.6em;
        font-weight: bold;
    }
    .nav-menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        height: 44px;
        background: rgb(142,0,0); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(142,0,0,1) 0%, rgba(186,0,1,1) 41%, rgba(186,0,1,1) 56%, rgba(142,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(142,0,0,1) 0%,rgba(186,0,1,1) 41%,rgba(186,0,1,1) 56%,rgba(142,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(142,0,0,1) 0%,rgba(186,0,1,1) 41%,rgba(186,0,1,1) 56%,rgba(142,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .show-menu {
        display: block;
    }
}